services:
  db:
    image: postgres:16
    container_name: miam-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: recipes
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: miam-backend
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/recipes
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - db
      - backend
    restart: unless-stopped

volumes:
  pgdata:
